# --------------------------------------------
# Python
# --------------------------------------------

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.csv
Enunciado.pdf
Enunciado (imprimible).pdf
*.drawio
*.idea
*.DS_STORE