# --------------------------------------------
# Python
# --------------------------------------------

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.wav
*.pdf
antigua_ventana_preparacion.py
ventana_preparacion_antigua.ui
diseno_base_principal.ui
no_backend_ventana_juego.py
no_frontend_ventana_juego.py
Mapa
Objetos
Personajes
canciones
*.txt
*.idea
*.DS_STORE