# --------------------------------------------
# Python
# --------------------------------------------

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.wav
*.pdf
antigua_ventana_preparacion.py
ventana_preparacion_antigua.ui
diseno_base_principal.ui
sprites
canciones
*.txt
*.idea
*.DS_STORE